#- name: Install Redis
# apt:
#   name: redis-server
#   state: present
#
#- name: Ensure Redis is running
# service:
#   name: redis-server
#   state: started
#   enabled: yes
#------------------------------------------------------------------------------------------------------------------------
#- name: Verify Redis is responding
#  shell: redis-cli ping
#  register: redis_ping
#  failed_when: redis_ping.stdout != "PONG"
#  changed_when: false
#=======================================================================================================================
- name: Check redis process
  shell: ps aux | grep redis-server | grep -v grep
  register: redis_process
  changed_when: false
    
- name: Show redis process
  debug:
    var: redis_process.stdout

- name: Check cluster info
  shell: redis-cli cluster info
  register: cluster_info
  changed_when: false
  when: not ansible_check_mode

- name: Fail if cluster not OK
  fail:
    msg: "Redis cluster is NOT healthy"
  when: 
   - not ansible_check_mode
   - "'cluster_state:ok' not in cluster_info.stdout"

- name: Show cluster info
  debug:
    var: cluster_info.stdout

