- name: Ensure redis systemd unit uses config file
  copy:
    dest: /etc/systemd/system/redis.service
    owner: root
    group: root
    mode: 0644
    content: |
      [Unit]
      Description=Redis In-Memory Data Store
      After=network.target

      [Service]
      User=redis
      Group=redis
      ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
      ExecStop=/usr/bin/redis-cli shutdown
      Restart=always
      LimitNOFILE=10032

      [Install]
      WantedBy=multi-user.target

