version: '3'
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--protected-mode", "no"]

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: redisinsight
    ports:
      - "8001:8001"

  redis-exporter:
    image: oliver006/redis_exporter
    ports:
      - "9121:9121"
